{% extends 'Adminindexhome.html' %}
{% block body %}
<body>
<form action="/Evapp/add_cat_post/"method="post">
    {% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <th>Category Name:</th>
        <td><input type="text"name="cname" class="form-control"pattern="[A-Za-z]+" required></td>
        </tr>

        <tr>
            <td colspan="2"align="center"><input type="submit"value="Add" class="btn btn-info"></td>
        </tr>
    </table>
</form>
</body>
{% endblock %}