<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
    <a href="/Evapp/Add_category/">Add category</a>
    <a href="/Evapp/View_category/">view category</a>
    <a href="/Evapp/manage_ev/">manage ev station</a>
    <a href="/Evapp/approved_ev/">view approved station</a>
    <a href="/Evapp/rejected_ev/">view rejected station</a>
    <a href="/Evapp/manage_workers/">view workers and verify</a>
    <a href="/Evapp/verifyed_workers/">view verified workers</a>
    <a href="/Evapp/Rejeced_workers/">view  rejected workers</a>
    <a href="/Evapp/view_users/">view users</a>
    <a href="/Evapp/view_feedback/">view feedback</a>
    <a href="/Evapp/view_user_complaint_nd_reply/">view user complaint nd send reply</a>
    <a href="/Evapp/view_workers_complaint_nd_reply/">view worker complaint nd send reply</a>
    <a href="/Evapp/change_password/">change password</a>
</pre>
</body>
</html>