{% extends 'Adminindexhome.html' %}
{% block body %}
<body>
<form action="/Evapp/Search_vrfyd_workers/"method="post">
{% csrf_token %}
    <table class="table table-bordered">
   <tr>
       <td><input type="text"name="search"class="form-control"></td>
       <td><input type="submit"value="Search"class="btn btn-info" ></td>
   </tr>
</table>
    <table class="table table-bordered">
    <thead>
        <th style="background-color: lightblue">
        <tr>
            <th>Sl.no</th>
            <th>workername nd photo</th>
            <th>Email</th>
            <th>gender
            <br>dob
            <br>phone</th>
            <th>Address</th>
            <th>experience</th>
            <th>qualification</th>
            <th>certificate</th>
            <th>status</th>
        </tr></thead>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.wname }}{{ i.photo }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.gender }}<br>
            {{ i.dob }}<br>
            {{ i.phone }}</td>
            <td>{{ i.place }}{{ i.district }}{{ i.state }}{{ i.pincode }}</td>
            <td>{{ i.experience }}</td>
            <td>{{ i.qualification }}</td>
            <td>{{ i.certificate }}</td>
            <td>{{ i.status }}</td>

        </tr>
        {% endfor %}
    </table>
</form>

</body>
{% endblock %}