<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
    <a href="/Evapp/signin/">register</a>
    <a href="/Evapp/Addslot/">add slot</a>
    <a href="/Evapp/View_slot/">view slot</a>
    <a href="/Evapp/view_slot_booked/"> slot booking</a>
    <a href="/Evapp/View_Approved_slots/"> view Approved slots</a>
    <a href="/Evapp/View_Rejected_slots/">view rejected slots </a>
    <a href="/Evapp/View_users/">view users</a>
    <a href="/Evapp/Send_complaints/">send complaints</a>
    <a href="/Evapp/View_reply/">view  reply</a>
    <a href="/Evapp/View_general_feedback/">view  general feedback</a>
    <a href="/Evapp/view_user_feedback/">view user feedback about ev station</a>
    <a href="/Evapp/Chat_with_user/">Chat with user</a>
    <a href="/Evapp/change_password_ev/">change password</a>
    <a href="/Evapp/logout/">Logout</a>

</pre>
</body>
</html>