{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<form action="/Evapp/login_post/"method="post">#}
{#    {% csrf_token %}#}
{#    <table border="1"align="center">#}
{#        <tr>#}
{#            <td>Username:</td>#}
{#            <td><input type="text"name="username"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Password:</td>#}
{#            <td><input type="text"name="password"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td></td>#}
{#            <td><input type="submit"value="LOGIN"></td>#}
{#        </tr>#}
{#    </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Creative Login Form Responsive Widget Template :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Creative Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/static/login/css/font-awesome.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //online-fonts -->
</head>

<body>
	<!--header-->
	<div class="header-w3l">
		<h1>
			<span>EV</span>charging
			</h1>
	</div>
	<!--//header-->
	<div class="main-content-agile">
		<div class="sub-main-w3">
{#			<h2>Login Here</h2>#}
			<form action="/Evapp/login_post/" method="post">
                {% csrf_token %}
				<div class="pom-agile">
					<span class="fa fa-user-o" aria-hidden="true"></span>
					<input placeholder="E-mail" name="username" class="user" type="email" required="">
				</div>
				<div class="pom-agile">
					<span class="fa fa-key" aria-hidden="true"></span>
					<input placeholder="Password" name="password" class="pass" type="password" required="">
				</div>
				<div class="sub-w3l">
					<div class="sub-agile">
						<input type="checkbox" id="brand1" value="">
						<label for="brand1">
							<span></span>Remember me</label>
					</div>
					<a href="/Evapp/signin/">Sign in</a>
					<div class="clear"></div>
				</div>
				<div class="right-w3l">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
	</div>
	<!--//main-->
	<!--footer-->
{#	<div class="footer">#}
{#		<p>&copy; 2023 Creative Login Form. All rights reserved | Design by#}
{#			<a href="http://w3layouts.com">W3layouts</a>#}
{#		</p>#}
{#	</div>#}
	<!--//footer-->
</body>

</html>